/* Responsive Utilities */
.hidden-mobile {
  display: none !important;
}

@media (min-width: 768px) {
  .hidden-mobile {
    display: flex !important;
  }
  .hidden-desktop {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .flex-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .flex-desktop {
    display: flex !important;
  }
  .block-desktop {
    display: block !important;
  }
}

